<div class="container1 bg-mywhite">

    <nav>
        <app-entete></app-entete>
    </nav>

    <div id="sidebar">
        <app-menu></app-menu>
    </div>

    <main class="bg-mywhite">

        <div class="container p-2">

            <!-- --------------------FORMULAIRES------------------------------------------------------ -->
            <div class="container">

                <!-- --------------------Unite Douaniere------------------------------------------------------ -->
                <div class="container">
                    <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                        Unité douanière
                    </div>

                    <form class="container px-3 py-2">
                        <div class="row g-4 mb-3">
                            <div class="col-3 mx-auto">
                                <span class="fw-bold">Code unité</span>
                                <div class="text-input"> {{ articleBonPour.identifiantBP.codeUniteDouaniere.codeUniteDouaniere }} </div>
                            </div>

                            <div class="col-7 mx-auto">
                                <span class="fw-bold">Nom unité</span>
                                <div class="text-input text-uppercase"> {{ articleBonPour.identifiantBP.codeUniteDouaniere.nomUniteDouaniere }} </div>
                            </div>
                        </div>

                        <div class="row g-4 mb-3">
                            <div class="col-3 mx-auto">
                                <span class="fw-bold">Nombre arme</span>
                                <div class="text-input text-uppercase"> {{ articleBonPour.identifiantBP.codeUniteDouaniere.nombreArme }} </div>
                            </div>

                            <div class="col-3 mx-auto">
                                <span class="fw-bold">Nombre automobile</span>
                                <div class="text-input text-uppercase"> {{ articleBonPour.identifiantBP.codeUniteDouaniere.nombreAutomobile }} </div>
                            </div>

                            <div class="col-3 mx-auto">
                                <span class="fw-bold">Nombre materiel</span>
                                <div class="text-input text-uppercase"> {{ articleBonPour.identifiantBP.codeUniteDouaniere.nombreMateriel }} </div>
                            </div>
                        </div>

                    </form>
                </div>



                <div class="container px-3 py-2">
                    <div class="row">
                        <div class="col-12 text-end">
                            <button type="button" class="btn btn-mybrown me-2">Désactiver</button>

                            <button [routerLink]="'/dotation-vehicule-ajouter-bon-sortie'" type="button"
                                class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip"
                                title="cliquer ici pour ajouter article">
                                Ajouter article
                            </button>

                            <button type="button" class="btn btn-myprimary fw-bold mx-2" data-bs-toggle="tooltip"
                                title="cliquer ici pour modifier">
                                Modifier
                            </button>

                            <button [routerLink]="'/dotation-vehicule'" type="button"
                                class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip"
                                title="cliquer ici pour retourner">
                                Retour
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- ----------------LISTES--------------------------------------------------------- -->

            <!-- ------------------Dotation-------------------------------------------------------- -->
            <div class="container">
                <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                    Listes dotations
                </div>

                <div class="container px-3 py-2 mt-1">
                    <div class="mat-elevation-z8">

                        <!-- <table mat-table [dataSource]="dataSource" matTableExporter #exporter="matTableExporter"> -->
                        <table mat-table [dataSource]="dataSource">
                            <!-- Define columns and cells for IVehicule properties -->
                            <ng-container *ngFor="let column of displayedColumns let i = index" [matColumnDef]="column">
                                <th mat-header-cell *matHeaderCellDef class="fw-bold"
                                    [style.display]="columnsToHide.includes(column) ? 'none' : 'table-cell'">
                                    {{ displayedColumnsCustom[i] }}
                                </th>

                                <td (click)="goToDetail(element)" mat-cell *matCellDef="let element"
                                    style="cursor: pointer;"
                                    [style.display]="columnsToHide.includes(column) ? 'none' : 'table-cell'">

                                    <!-- Check if the current column is the "N°" column -->
                                    <!-- <ng-container *ngIf="columnsDateFormat.includes(column) || columnsToCodeMarque.includes(column) || columnsToCodePays.includes(column); else normalCell">
                                        <ng-container *ngIf="columnsDateFormat.includes(column)">
                                            {{ element[column] | date: 'dd MMM yy' | uppercase }}
                                        </ng-container>
                                        <ng-container *ngIf="columnsToCodeMarque.includes(column)">
                                            {{ element[column].libelleMarque }}
                                        </ng-container>
                                        <ng-container *ngIf="columnsToCodePays.includes(column);">
                                            {{ element[column].libellePays }}
                                        </ng-container>
                                    </ng-container> -->
                                    <ng-container *ngIf="columnsDateFormat.includes(column); else normalCell">
                                        {{ element[column] | date: 'dd MMMM yyyy' | uppercase }}
                                    </ng-container>
                                    <ng-template #normalCell>
                                        {{ element[column] }}
                                    </ng-template>

                                </td>
                            </ng-container>

                            <!-- Header row -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <!-- Data rows -->
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of vehicles">
                        </mat-paginator>

                    </div>
                </div>
            </div>
        </div>

    </main>


</div>
